body {
    margin:0px;
    padding:0px;
    width:1347px;
    height:50px;
}

nav.navbar {
    background-color: gray;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav a {
    color: white;
}
/*Header Styling*/
.page-header {
    margin: 0px;
    padding: 0px;
}
.col-sm-6.col-md-3{
    margin:0px;
    padding:0px;
}
.col-sm-6 col-md-9 {
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size:cover;
}
